manifest {
    description = 'scrnaseq pipeline'
    mainScript = 'main.nf'
}

params {

    genomeName = "Mus_musculus.GRCm39.dna_sm.primary_assembly.fa"
    gtfName = "Mus_musculus.GRCm39.113.gtf"
    userID = "c.XXXXXXXX"
    workingDir = "/scratch/${userID}/scrnaseq-nextflow"
    organism = "Mus_musculus"
    userProjectCode = "scw2358"

    outdir = "results"
    resourcesDir = "resources"
    genome = "${workingDir}/resources/${genomeName}"
    gtf = "${workingDir}/resources/${gtfName}"
    data = "${workingDir}/data"
    cellrangerPath = "/apps/genomics/cellranger/7.2.0/el7/cellranger-7.2.0"
    aggr = false
    res = "${workingDir}/results"

    sleepTimeStart = '0m'
    sleepTimeEnd = '0m'
    retries = '5'

    index = "${workingDir}/resources/index"

    srcDir = "src"
    inputDir = "input"
    outputDir = "output"
    resourcesDir = "resources"
    releaseDir = "release"

    copyGenomeJobLength = "30m"
    copyGTFJobLength = "30m"
    mkrefJobLength = "1h"
    mkrefMemory = "40.G"
    mkrefCpus = "4"
    countJobCpus = "12"
    countJobLength = "1h"
    countJobMemory = "40.G"

    genaggrJobCpus = 1
    genaggrLength = '20m'
    genaggrMemory = '8.G'

    aggrcountCpus = 1
    aggrcountLength = '20m'
    aggrcountMemory = '8.G'
    

  execution {
    queue_size = 100
    threads = 1
    max_retries = 5
    error_strategy = "retry"
  }
}

process {
    executor = "slurm"
    queue = "compute_amd"
    clusterOptions = "-A ${params.userProjectCode} --reservation=training-scrnaseq-20250224"
}
